
/* Global Settings */

body {
  user-select: none;
  min-width: 275px;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Segoe UI", "Roboto", Arial, sans-serif;
}

button:focus, input:focus, select:focus {
  outline: none;
}


/* Log In & Sign Up Page */

.main-header h1 {
  cursor: default;
  margin: 30px 5px;
  color: #ccc;
  text-align: center;
  font-size: 40px;
  letter-spacing: .03em;
  transition: .3s;
}

.main-header h2 {
  cursor: default;
  margin: 30px 5px;
  color: #ccc;
  text-align: center;
  font-size: 30px;
  letter-spacing: .03em;
  transition: .3s;
}

@media (max-width: 767px) {
  .main-header h1 {
    margin: 20px 5px;
    font-size: 26px;
  }
  .main-header h2 {
    margin: 20px 5px;
    font-size: 22px;
  }
}

.content-wrapper {
  width: 60vw;
  max-width: 800px;
  padding: 0 20vw;
  margin: 0 auto;
}

.content-wrapper-wide {
  width: 80vw;
  max-width: 1200px;
  padding: 0 10vw;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .content-wrapper,
  .content-wrapper-wide {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
}

.login-form {
  margin-top: 25vh;
  transition: .3s;
}

@media (max-width: 767px) {
  .login-form {
    margin-top: 50px;
  }
}

.tab-name {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 30px;
  background: #222;
  color: #aaa;
  font-size: 26px;
  transition: .3s;
}

.tab-name:hover {
  color: lightyellow;
}

@media (max-width: 767px) {
  .tab-name {
    margin-right: 5px;
    font-size: 20px;
    padding: 8px 15px;
  }
}

.form-modal {
  font-size: 16px;
  background: #333;
}

.form-modal input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: .03em;
  transition: .3s;
}

@media (max-width: 767px) {
  .form-modal input {
    margin: 8px;
    padding: 5px 8px;
    font-size: 16px;
  }
}

.primary-button {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px 15px;
  background: #ddd;
  font-size: 20px;
}

@media (max-width: 767px) {
  .primary-button {
    padding: 8px 10px;
    font-size: 16px;
  }
}


.secondary-button {
  cursor: pointer;
  background: pink;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .secondary-button {
    padding: 8px 10px;
    font-size: 16px;
  }
}


/* Dashboard */

.list-default,
.list-default option {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #333;
  color: #aaa;
  font-size: 16px;
  letter-spacing: .03em;
  transition: .3s;
}

.input-default {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: .03em;
  transition: .3s;
}


.characters-table {
  width: 100%;
  border-collapse: collapse;
}

.characters-table td,
.characters-table th {
  padding: 10px;
  color: #aaa;
  font-size: 20px;
}

.characters-table th {
  border-bottom: 1px solid #ccc;
}


.characters-table .primary-button,
.characters-table .secondary-button {
  margin: 0 5px;
  padding: 3px 5px;
  font-size: 16px;
}


.character-add-form {
  padding-top: 30px;
  padding-bottom: 30px;
}



.text-druid {
  color: rgb(255,125,10) !important;
}

.text-hunter {
  color: rgb(169,210,113) !important;
}

.text-mage {
  color: rgb(64,199,235) !important;
}

.text-paladin {
  color: rgb(245,140,186) !important;
}

.text-priest {
  color: rgb(255,255,255) !important;
}

.text-rogue {
  color: rgb(255,245,105) !important;
}

.text-warlock {
  color: rgb(135,135,237) !important;
}

.text-warrior{
  color: rgb(199,156,110) !important;
}


.attendee-list {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.attendee-list > div {
  display: inline-block;
  vertical-align: top;
  width: calc((100% - 160px)/8);
  min-height: 100px;
  margin: 5px;
  padding: 5px;
  box-shadow: inset 0px 0px 8px 5px rgba(255,255,255,.1);
  border-radius: 5px;
  text-align: center;
}

.attendee-list h4 {
  margin: 5px 10px 10px 10px;
  padding-bottom: 5px;
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.25), rgba(255,255,255,.25), rgba(255,255,255,0));
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: .03em;
}

.attendee-list ul {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 1px #000;
}

.attendee-list li {
  list-style-type: none;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  background: rgba(255,255,255,.1);
}

.attendee-list li:last-child {
  border-bottom: none;
}


@media (max-width: 1200px) {
  .attendee-list > div {
    width: calc((100% - 80px)/4);
  }
}

@media (max-width: 767px) {
  .attendee-list > div {
    width: calc((100% - 40px)/2);
  }
  .attendee-list ul {
    font-size: 16px;
  }
}

@media (max-width: 275px) {
  .attendee-list > div {
    width: calc(100% - 10px);
  }
}


.event-header {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.event-name {
  margin: 10px 5px 0 5px;
  color: #fff;
  font-size: 26px;
}

.event-time {
  color: #fff;
  font-size: 18px;
}

.event-description {
  margin: 5px;
  color: #ddd;
  font-size: 20px;
}


.event-controls {
  text-align: center;
  padding: 20px 5px;
}

.event-controls input,
.event-controls select,
.event-controls button {
  height: 45px;
  font-size: 18px;
}

.event-controls select {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background: #ddd;
}